<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089643163003-ljeaprfnkhqi0evv7rrjgm7q8lvbscm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089643163003-ljeaprfnkhqi0evv7rrjgm7q8lvbscm1</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2MBroQnvSb9ZfrknpFUHh1Hl6jdkyMA</string>
	<key>GCM_SENDER_ID</key>
	<string>1089643163003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-abd23</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-abd23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089643163003:ios:0b36cc7864d387987061de</string>
</dict>
</plist>